<section class="list-page__section--header">
  <ng-container *ngIf="!editableTitle; else inputMode">
    <h1>{{ listTiltle }}</h1>
  </ng-container>
  <ng-template #inputMode>
    <mat-form-field appearance="outline">
      <input matInput type="text" [(ngModel)]="listTiltle" />
      <mat-icon (click)="editListTitle()" matSuffix>done</mat-icon>
    </mat-form-field>
  </ng-template>
  <div class="buttons__section" *ngIf="!(selectedlist$ | async)?.isMain">
    <button
      mat-icon-button
      (click)="editableTitle = !editableTitle"
      color="primary"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="deleteList()" color="warn">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</section>

<section class="list-page__section--tasks">
  <app-add-task [listId]="listId"></app-add-task>
  <app-task-card
    *ngFor="let task of tasks$ | async"
    [data]="task"
  ></app-task-card>
</section>
