:host {
  .list-page__section--header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;

    h1 {
      margin-bottom: 0;
    }
    .buttons__section {
      display: flex;
      gap: 10px;
    }
  }

  .list-page__section--tasks {
    padding: 20px 0;
  }
}
