:host {
  mat-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
    border: 1px solid #d1d1d1;

    mat-card-header {
      display: flex;
      flex-direction: column;
      h3 {
        font-weight: 500;
        margin-bottom: 10px;
      }

      p {
        color: #414141;
      }
    }
    mat-card-actions {
      padding: 0;
      display: flex;

      mat-icon {
        cursor: pointer;
        margin-inline-start: 20px;
      }
    }

    .done {
      text-decoration: line-through;
    }
  }
}
