<ul>
  <li [class.active]="relativePath[1] === 'main-list'">
    <a routerLink="/">
      <mat-icon>event_available</mat-icon>
      Daily Tasks
    </a>
  </li>

  <li
    *ngFor="let list of otherLists$ | async"
    [class.active]="relativePath[2] === list._id"
  >
    <a [routerLink]="['/list', list._id]">
      <mat-icon>list_alt</mat-icon>
      {{ list.title }}
    </a>
  </li>

  <li [class.active]="relativePath[1] === 'completed-tasks'">
    <a routerLink="/completed-tasks">
      <mat-icon>task</mat-icon>
      Completed Tasks
    </a>
  </li>

  <li class="add-list">
    <a (click)="showAddListInput = !showAddListInput">
      <mat-icon>{{ showAddListInput ? 'remove' : 'add' }}</mat-icon>
      Add List
    </a>
  </li>

  <section *ngIf="showAddListInput">
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Title</mat-label>
      <input matInput type="text" [(ngModel)]="listTiltle" maxlength="25"/>
      <button mat-icon-button (click)="addList()" matSuffix>
        <mat-icon>done</mat-icon>
      </button>
    </mat-form-field>
  </section>
</ul>
