:host {
  min-height: 100vh;
  background: #3cb0db;
  padding: 30px;

  ul {
    list-style: none;
    padding-inline-start: 0;

    li {
      margin: 20px 0;
    }

    a {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #fff;
      text-decoration: none;
    }

    .add-list {
      border-top: 2px solid #fff;
      padding-top: 20px;
      margin-bottom: 10px;
      cursor: pointer;
    }
  }

  .mat-form-field {
    color: #fff;
  }
}
