<mat-card class="mat-elevation-z0" [class.gray-card]="!data.editMode">
  <form [formGroup]="form" (submit)="handleTask()">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input
        type="text"
        matInput
        formControlName="title"
        [errorStateMatcher]="matcher"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" rows="2"></textarea>
    </mat-form-field>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="form.invalid"
    >
      {{ data.editMode ? 'Edit Task' : 'Add Task' }}
    </button>
  </form>
</mat-card>
