/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: #212121;
}

app-sidebar {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #fff;
  }
  .mat-form-field-label {
    color: #fff;
  }
}

.list-page__section--header {
  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }
}
